body,html{
    width:100%;
    height:100%;
    margin:0;
    font-family:"Microsoft YaHei"
}
#mapDiv{
    width:100%;
    height:400px
}
#layer: {
    width:100%;
    height:400px;
    position:absolute;
    left:0px;
    top:0px;
    z-index:999
}
.legend1 {
    position:absolute;
    left:0px;
    top:0px;
    background:url(bg.jpg);
    opacity: 1;
    width:100%; 
    height:100%; 
    z-index:400
}
.legend {
    position:absolute;
    left:10%;
    top:80%;
    background:url(colorf1.png);
    opacity: 0.7;
    width:200px; 
    height:20px; 
    z-index:999
}
.list {
    position:absolute;
    width:400px;
    top: 75px;
    right:5%;
    padding: 10px 15px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    z-index:999
}
#list-chart{
    width:240px;
    height:240px; 
    top: 50%;
    right:36%;
}
#list-chart1{
    width:240px;
    height:240px; 
    top: 50%;
    right:18%;
}
#list-chart2{
    width:240px;
    height:240px; 
    top: 50%;
    right:0%;
}

.list-topbar{
    position: relative;
    margin-bottom: 16px;
}
.list-topbar a{
    display: inline-block;
    width: 50%;
    line-height: 14px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    cursor: pointer;
}
.list-topbar a.active{
    color: #007EFF;
}
.list-topbar .horizontal-bar{
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: #007EFF;
    border-radius: 2px;
    left: 0;
    top: 22px;
}

.list .no-data{
    font-size: 11px;
    margin: 30px 0 10px;
    color: rgba(255,255,255,0.5);
}

.table-wrap{
    width: 100%;
    height:235px;
    overflow-y:auto;
}

.table-converter{
    width: 100%;
    height:20px;
}

.table-chart{
    width: 240px;
    height:240px;
}

#column_graphic{
    position: absolute;
    left:115px;
}

#line_graphic{
    position: absolute;
    left:215px;
}

#pie_graphic{
    position: absolute;
    left:315px;
}
/* list table */
.list-table{
    width: 100%;
    height:425px;
    overflow-y:auto;
    border-collapse: collapse;
    border-spacing: 0;
}
.list-table td,
.list-table th{
    font-size: 16px;
    line-height: 36px;
    height: 36px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.list-table th.province{
    font-size: 15px;
    color:#ffffff;
    width: 30%;
}

.list-table td.province,
.list-table th.station-num {
    font-size: 15px;
    color:#ffffff;
    position: relative;
}

.list-table th.proportion{
    font-size: 15px;
    color:#ffffff;
    position: relative;
}
.list-table th .sep{
    position: absolute;
    width: 1px;
    height: 11px;
    right: 0;
    border-right: 1px solid rgba(255,255,255, 0.5);
    top: 12px;
}

.list-table tr{
    border-top: 1px solid rgba(255,255,255, 0.2);
}
.list-table thead tr{
    border-top: none;
}

.list-table tr .province{
    color: #FFFFFF;
}

.list-table tr .station-num{
    color: #FFFFFF;
}

.list-table td.index{
    text-align: right;
}
.list-table td.index span{
    display:inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-color: #007EFF;
    vertical-align: middle;
    border-radius: 4px;
    text-align: center;
    font-size: 10px;
}

.list-table .proportion{
    color: #36BAFF;
}
.list-table span.txt{
    position: absolute;
    left: 0;
    height: 7px;
    width: 100%;
    font-size: 16px;
    line-height: 0px;
}
.list-table span.box{
    display: inline-block;
    width: 10px;
    max-height: 90%;
    position: relative;
    bottom: -10px;
    margin-left: -5px;
}

.list-table td.proportion .box{
    background-color: #36BAFF;
}

.list-table tr.tr0 td.index span,
.list-table tr.tr1 td.index span,
.list-table tr.tr2 td.index span{
    background-color: #EE9D11;
}



::-webkit-scrollbar,body::-webkit-scrollbar,textarea::-webkit-scrollbar {/*滚动条整体样式*/
    width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb,textarea::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}
::-webkit-scrollbar-track,body::-webkit-scrollbar-track,textarea::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
    border-radius: 6px;
}


@media all and (min-width: 370px) {
    .title{
        width: 257px;
        height: 95px;
        display: none;
    }
    .logo {
        width: 98px;
        height: 21px;
        margin-bottom: 3px;
    }
}

@media all and (min-width: 400px) {
    .title{
        width: 279px;
        height: 103px;
        display: none;
    }
    .logo {
        width: 106px;
        height: 23px;
        margin-bottom: 4px;
    }
}
